<footer class="footer bg-dark py-3 mt-auto d-flex navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NovelTea</a>
  </div>

  <div class="container d-flex flex-row">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
      <li class="nav-item">&copy; NovelTea 2021</li>
      <li class="nav-item">
        <a class="nav-link" href="#">sitemap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">privacy policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terms of Use</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Social Icons</a>
      </li>
    </ul>

    <img class="w-25" src="/images/book-stack.PNG" alt="" />
  </div>
</footer>
