<nav class="navbar">
  <div class="navbar--main">
    <img class="navbar--logo" src="/images/Logo.png" />

    <ul class="navbar--item">
      <a href="/feed">home</a>
    </ul>
    <ul class="navbar--item navbar--dropdown">
      <a href="/feed">search</a>
      <div class="navbar--dropdown-content">
        <ul class="navbar--item">
          <a href="/books/new">Books</a>
        </ul>
        <ul class="navbar--item">
          <a href="/user">friends</a>
        </ul>
      </div>
    </ul>

    <% if(!currentUser){ %>

    <ul class="navbar--item">
      <a href="/login">Login</a>
    </ul>
    <ul class="navbar--item">
      <a href="/register">Register</a>
    </ul>
    <% } else { %>

    <ul class="navbar--item">
      <a href="/user/<%= currentUser._id %> ">profile</a>
    </ul>
    <ul class="navbar--item">
      <a href="/logout">logout</a>
    </ul>
    <% } %>
  </div>
</nav>
