<!-- FEED PAGE - Show, comments -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NovelTea</title>
    <link rel="stylesheet" href="Styles/home.css" />
  </head>

  <body>
    <main>
      <div class="landing">
        <img src="/images/Logo.png" class="landing--logo" />

        <h1 class="landing--header">
          YOUR <br />
          VIRTUAL <br />
          BOOKSHELF
        </h1>
        <p class="landing--sub">
          Read, review, and spill <br />some tea with other bookies
        </p>
        <a type="button" href="/books" class="landing--btn">JUMP IN!</a>
      </div>
    </main>
  </body>
</html>
