<% layout('layouts/boilerplate.ejs')%>
<div class="row">
  <div class="card mb-3 p-3">
    <h5 class="card-title"><%= user.username %></h5>
    <h5 class="card-subtitle"><%= user.email %></h5>
    <a href="/user/edit/<%= user._id %>" class="btn btn-info"> edit </a>
  </div>
</div>
